body {
  padding: 0;
  margin: 0;
}

.content {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.top-part {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: inset 0 0 100px 100px white;
}

.quote-author {
  text-align: right;
  padding: 0;
}

.down-part {
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  flex: 1 1;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}
.item {
  margin: 2em;
}

@media screen and (min-width: 990px) {
  .top-part > *,
  .down-part > * {
    margin: 0 auto;
    width: 100%;
    max-width: 990px;
  }
  .top-part > * {
    max-width: 650px;
  }
  .quote-label {
    padding: 60px;
  }
}

@media screen and (max-width: 990px) and (min-width: 500px) {
  .top-part {
    margin: 0;
    width: 80%;
    padding: 5% 10% 0;
  }
  .down-part {
    width: 80%;
    padding: 0 10%;
  }
}

@media screen and (max-width: 500px) {
  .top-part {
    margin: 0;
    width: 80%;
    padding: 5% 10% 0;
  }
  .down-part {
    width: 80%;
    padding: 0 10%;
  }
}

.foot {
  width: 100%;
  margin: 24px auto;
  text-align: center;
  color: grey;
}
.foot a {
  display: inline-block;
}
.foot form {
  display: inline-block;
  margin: 1em;
}
